.weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #3b089c;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    margin-top: -40px;
    margin-left: auto;
    border-radius: 12px;
    max-width: 90%;
    width: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: absolute;
    top: 120px; 
    right: 0; 
    height: calc(115vh - 120px);
    overflow-y: auto; 
    overflow: hidden;
    margin-left: 20px;
}

.weather-info-container h2 {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #173f27;
  text-align: center; 
  margin-bottom: 1rem; 
}


.weather-info-container p {
    margin: 4px 0;
    font-size: 1rem;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #483d7c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
  overflow-x: hidden; 
}

.forecast-item {
  background-color: rgba(72, 61, 124, 0.05);
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  color: #173f27;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
  overflow-x: hidden; 
  overflow-y: visible;
  color: #173f27;
}

@keyframes fadeInForecast {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.forecast h2 {
  display:contents;
  text-align: left;
  margin-left: -50px;
  color: #173f27;
}

 
  .loading-text {
    display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(180, 174, 174, 0.1);
  margin: 40px auto;
    background-color: #1c154a;
    text-align: center;
    transform: translateX(80%);
    font-size: 1.2rem;
    color: #b9b4c2;
  }
  

  .weather-and-map-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .map-container {
    flex: 1;
    min-width: 670px;
    max-width: 54%;
    height: 245px;
    position: relative;
    top: -230px;
    margin-top: 50px;
    margin-left: -50px;
    margin-right: auto;
    left: -1.5px;
  }
  
  .weather-info-container {
    flex: 2;
    min-width: 50%;
  }
  
  .additional-info-container {
    position: absolute;
    top: 500px;
    left: 1px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 48%;
    width: 631px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: calc(63vh - 120px);
    overflow-y: auto;
  }
  
  .additional-info-container h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #173f27;
    margin-top: -15px;
    text-align: left;
    margin-left: 20px;
  }
  
  .additional-info-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #173f27;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #173f27;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 15px;
    border-radius: 8px;
  }
  

  .info-row-weather {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    padding: 10px; 
    font-size: 1.2rem; 
    font-weight: bold; 
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 8px; 
    margin-bottom: 8px; 
    color: #173f27;
    
  }
  
  .info-row-weather span {
    flex: 1;
    text-align: left; 
    font-size: 1.5rem; 
    color: #173f27;
  }